{% load custom_tags %}

<html>
  <head>
    <title>{{ item.name }}</title>
  </head>
  <body>
  <h1>{{ item.name }}</h1>
  <p>{{ item.description }}</p>
  <p>Price: ${{ item.price }}</p>
  <form action="/buy/{{ item.id }}/" method="get">
      <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ stripe_public_key }}"
          data-amount="{{ item.price|multiply_by_100 }}"
          data-name="{{ item.name }}"
          data-description="{{ item.description }}"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-currency="usd"
          data-locale="auto">
      </script>
  </form>
  </body>
</html>